[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
asyncpg = "*"
psycopg2-binary = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pg8000 = "*"
types-passlib = "*"

[dev-packages]
mypy = "*"
ruff = "*"

[requires]
python_version = "3.12"
